* {box-sizing: border-box;}
    header {
            border: 1px solid darkcyan;
            padding: 5px;
            border-width: 10px;
        }
    nav {
            width: 25%;
            float:left ;
            padding: 15px;
            border:1px solid darkcyan;
            border-width: 5px;
            background-color:antiquewhite;
            height:1368px;
        
        }
        
    section {
                width:75% ;
                float:right;
                padding:30px ;
                border:1px solid darkcyan;
                
                border-width: 5px;
                height: 1368px;
                
            }

    img{  
            border-radius: 50px;
            border: 3px solid darkcyan;
        }

    .texto { 
        
            margin-left: 5px;
    }
    a   {  
            text-decoration: none;
        }


    .li {list-style-type: none;
        }
    
    .menu ul li{
        font-size: 18px;
        list-style-type: none;
        padding-right: 8px;
        display: inline-block
        }    

    h1, h2, p, form {
    margin-left: 80px;
    margin-right: 80px;
    }


    .h1 {color: darkcyan;}
    #h2 {margin-left: -40px;}
    .c5 {margin-left: -80px;}
    .c4 {margin-left: -40px;}        
    .c0 {margin-left: 25px;}
    .ol {margin-left: 80px;}
    .k1 {margin-left: 80px;
         margin-right: 80px;}

    .txt {  background-color: darkcyan;
            color: aliceblue;
            margin-right: 80px;
            margin-left: 80px;
        
           }

.header {margin-left: 80px;
            margin-right: 80px;
            border: 1px solid darkcyan;
            padding: 5px;
            border-width: 10px;
        }
th {background-color: darkcyan;
    color: aliceblue;}